.auth-screen {
	background-color: var(--primary);
	background-image: linear-gradient(30deg, var(--primary), var(--secondary));
}

.auth-container {
	background-color: white;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
	padding: var(--lg3);
	border-radius: var(--sm3);
	min-width: 30vw;
	text-align: center;
}
