<h1 class="weight-light">Mail Route</h1>

<p class="mail-sender-title">UUID:</p>
<p class="mail-sender border-bottom">{{ uuid }}</p>

<div class="row">
	<div class="col">
		<p class="mail-sender-title">Username Rule:</p>
		<p class="mail-sender border-bottom">{{ user_rule }}</p>
	</div>
	<div class="col">
		<p class="mail-sender-title">Hostname Rule:</p>
		<p class="mail-sender border-bottom">{{ host_role }}</p>
	</div>
</div>

<p class="mail-sender-title">Route to:</p>
<p class="mail-sender border-bottom">{{ target }}</p>
