<h1 style="font-weight: lighter;">Database</h1>
<p class="mail-date">MySQL / SQLite configuration.</p>

<p class="mail-sender-title mb-1">Driver:</p>
<div class="mail-sender mb-3">
	<select class="form-control form-control-sm w-auto" disabled>
		<option value="mysql" selected>MySQL</option>
		<option value="sqlite">SQLite</option>
	</select>
</div>

<p class="mail-sender-title mb-1">Hostname (MySQL):</p>
<div class="mail-sender mb-3">
	<input type="text" class="form-control form-control-sm w-auto" value="localhost:3306" placeholder="Hostname:Port" disabled>
</div>

<p class="mail-sender-title mb-1">Username (MySQL):</p>
<div class="mail-sender mb-3">
	<input type="text" class="form-control form-control-sm w-auto" value="username" placeholder="Username" disabled>
</div>

<p class="mail-sender-title mb-1">Password (MySQL):</p>
<div class="mail-sender mb-3">
	<input type="password" class="form-control form-control-sm w-auto" value="password" placeholder="Password" disabled>
</div>

<p class="mail-sender-title mb-1">Database (MySQL):</p>
<div class="mail-sender mb-3">
	<input type="text" class="form-control form-control-sm w-auto" value="database" placeholder="Database" disabled>
</div>
