<li class="nav-item dropdown">
	<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Manage</a>
	<div class="dropdown-menu">
		<a class="dropdown-item text-muted" href="/admin/config"><small class="fas fa-cog mr-2"></small>Configuration</a>
		<a class="dropdown-item text-muted" href="/admin/logs"><small class="fas fa-list-ul mr-2"></small>Log Files</a>
		<a class="dropdown-item text-muted" href="/admin/accounts"><small class="fas fa-user mr-2"></small>Accounts</a>
		<a class="dropdown-item text-muted" href="/admin/groups"><small class="fas fa-users mr-2"></small>Groups</a>
		<a class="dropdown-item text-muted" href="/admin/root"><small class="fas fa-user-tie mr-2"></small>Root User</a>
		<a class="dropdown-item text-muted" href="/admin/routes"><small class="fas fa-random mr-2"></small>Routes</a>
	</div>
</li>
