
/* Mail */
.sidenav-button,
.mailnav-button {
	background: transparent;
	display: block;
	color: #666;
	font-size: 1.05em;
	letter-spacing: 0.025em;
	font-weight: lighter;
	text-align: left;
}

.sidenav-button {
	padding: 0.2em 0.4em;
}

.mailnav-button {
	padding: 0.5em 1em;
}

.sidenav-button:hover,
.mailnav-button:hover {
	background: #aaa2;
	color: #666;
	text-decoration: none;
}

.sidenav-button-active,
.mailnav-button-active {
	background: #aaa1;
	color: #666;
	text-decoration: none;
	border-left: 3px solid #888;
}

.mailnav-subject {
	margin: 0 0 -0.2em 0;
	padding: 0;
}

.mailnav-info {
	font-size: 0.9em;
}

.mail-date {
	color: #777;
	font-weight: lighter;
	letter-spacing: 0.025em;
	margin-top: -0.6em;
}

.mail-sender-title,
.mail-recipient-title {
	color: #aaa;
	margin-bottom: -0.25em;
	font-weight: lighter;
}

.mail-sender,
.mail-recipient {
	color: #888;
}

.mail-content {
	white-space: pre-wrap;
	padding: 0.75em;
	color: #444;
}
/* Mail */



/* Underline */
.underline {
	text-decoration: underline !important;
}

.not-underline {
	text-decoration: none !important;
}
/* Underline */



/* Bold */
.bold {
	font-weight: bold !important;
}

.not-bold {
	font-weight: normal !important;
}
/* Bold */



/* Display */
.display-none {
	display: none !important;
}

.display-block {
	display: block !important;
}

.display-inline {
	display: inline !important;
}

.display-inline-block {
	display: inline-block !important;
}
/* Display */



/* Align */
.align-center {
	text-align: center;
}

.align-justify {
	text-align: justify;
}

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}
/* Align */



/* Positioning */
.pos-absolute {
	position: absolute;
}

.pos-relative {
	position: relative;
}

.pos-center {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
/* Positioning */
