<!DOCTYPE html>
<html>
<head>

	<title>Home | Pancake</title>

	<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/css/global.css">
	<link rel="stylesheet" type="text/css" href="/css/loading.css">

	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<script type="text/javascript" src="/js/global.js"></script>

</head>
<body>



<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
	<a class="navbar-brand" href="/">Pancake</a>
	<div class="collapse navbar-collapse" id="navbarNavDropdown">
		<ul class="navbar-nav">
			<li class="nav-item active">
				<a class="nav-link" href="/">E-Mail</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/options">Options</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Manage</a>
				<div class="dropdown-menu">
					<a class="dropdown-item text-muted" href="/admin/config"><small class="fas fa-cog mr-2"></small>Configuration</a>
					<a class="dropdown-item text-muted" href="/admin/accounts"><small class="fas fa-user mr-2"></small>Accounts</a>
					<a class="dropdown-item text-muted" href="/admin/groups"><small class="fas fa-users mr-2"></small>Groups</a>
				</div>
			</li>
		</ul>
	</div>
	<span class="mx-3" style="float: right;">
		<span class="text-muted">Welcome back, {{ username }}</span>
		&ensp;&vert;&ensp;
		<a href="/auth/logout" class="text-danger">Logout</a>
	</span>
</nav>



<div style="display: grid; grid-template-columns: 15% 20% auto;">

	<div class="p-3">

		<div>
			<a href="/mail/compose" class="btn btn-sm btn-outline-primary w-100"><i class="fas fa-plus mr-2"></i>Compose</a>
		</div>

		<hr>

		<a href="/inbox" class="sidenav-button"><small class="fas fa-inbox mr-2"></small>Inbox</a>
		<a href="/inbox/drafts" class="sidenav-button"><small class="fas fa-file-alt mr-2"></small>Drafts</a>
		<a href="/inbox/sent" class="sidenav-button"><small class="fas fa-share mr-2"></small>Sent</a>
		<a href="/inbox/trash" class="sidenav-button"><small class="fas fa-trash mr-2"></small>Trash</a>
		<a href="/inbox/spam" class="sidenav-button"><small class="fas fa-ban mr-2"></small>Spam</a>

		<hr>

		<a href="/inbox/1" class="sidenav-button"><small class="fas fa-folder mr-2"></small>Folder 1</a>
		<a href="/inbox/2" class="sidenav-button"><small class="fas fa-folder mr-2"></small>Folder 2</a>
		<a href="/inbox/3" class="sidenav-button"><small class="fas fa-folder mr-2"></small>Folder 3</a>

	</div>

	<div class="border-left border-right">{! mail_nav !}</div>
	<div class="p-4">{! email !}</div>

</div>



</body>
</html>
