<div class="alert alert-danger">
	<i class="fas fa-exclamation-triangle mr-2"></i>
	<strong>Warning!</strong>
	This is a dangerous operation, you should only use this when absolutely needed.
</div>

<div>
	This will grant you root privileges for a short period of time. This will grant you the largest possible pool of
	permissions and allow you to change basically every setting available.
</div>

<br>

<a class="btn btn-outline-danger" href="/admin/root/gain"><i class="fas fa-user-tie mr-2"></i>Gain Root Privileges</a>
