<!DOCTYPE html>
<html>
<head>

	<style type="text/css">
		h1, h2, h3, p {
			margin: 0;
			font-family: monospace;
		}
		span {
			font-weight: normal;
		}
	</style>

</head>
<body>

	<h1>{{ subject }}</h1>
	<p>{{ timestamp }}</p>

	<hr>

	<h3><strong>Sender:</strong>&ensp;<span>{{ sender }}</span></h3>
	<h3><strong>Recipient:</strong>&ensp;<span>{{ recipient }}</span></h3>
	<h3><strong>Subject:</strong>&ensp;<span>{{ subject }}</span></h3>
	<h3><strong>BCC/CC:</strong>&ensp;<span>{{ cc }}</span></h3>

	<hr>

	<pre>{{ message }}</pre>

	<hr>

	<h3><strong>Mail ID:</strong>&ensp;<span>{{ mail_id }}</span></h3>
	<h3><strong>Account:</strong>&ensp;<span>{{ account }}</span></h3>
	<h3><strong>Pancake:</strong>&ensp;<span>{{ pancake_version }}</span></h3>

</body>
</html>
